.orange{
    color: white;
    background: orange;
}
.blue{
    color: white;
    background: blue;
}
.red{
    color: white;
    background: red;
}
.yellow{
    color: white;
    background: yellow;
}
.purple{
    color: white;
    background: purple;
}
.bold{
    font-weight: bold;
}